.footer-container{
    min-width:300px;
     background-color:#3963FF;  
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    height:39.5rem;
    border-radius:2rem;
    margin:0 2rem 2rem 2rem;
    box-shadow: 10px 10px 20px #bcbcbc;
    /* transform:translateY(-41.4rem);
    opacity:.5; */
}
.contact{
    /* text-align: center; */
    font-size: 2.5rem;
    font-weight: 500;
    color: white; 
    position:absolute;
    margin-left:2rem;
    width:2rem;
    overflow-wrap: break-word;
    
}

.socialicon-emailid{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:1rem;
 

}
.social-icon{
    margin:1rem;
    height:2rem;
    width:2rem;   
    /* color:antiquewhite;  */
    background-color:black;
    
}

.email-id {
    
    background-color: rgba(92, 107, 191, 0);
    text-align: center;
    justify-content: center;

   
}
.email-id > p{
    background-color:#3963FF;
    color:white;
    font-size: 1rem;
    font-weight: 200;
}

@media (min-width:600px){
    /* .social-icon{
        margin:1rem;
        height:2rem;
        width:2rem;
        
    } */
    .socialicon-emailid{
        margin:0 1rem 1rem 1rem;
      
    
    }
    .footer-container{
        margin-left:3.5rem;
    }
    
}