.skills{
    min-width:300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap;
    background-color: #00CB84;
    border-radius:2rem;
    height:39.5rem;
    margin:2rem 2rem 2rem 2rem;
    box-shadow: 10px 10px 20px #bcbcbc;
    /* transform:translateY(-41.4rem); */
    /* display:none; */
    /* opacity:.5; */
}

.stack{
    font-size: 2.5rem;
    font-weight: 500;
    color: white; 
    position:absolute;
    margin-left:2rem;
    width:2rem;
    overflow-wrap: break-word;
    
}

.card-container{
    /* width:100%;  */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* overflow:scroll; */
}
.card-container::-webkit-scrollbar{
    display:none;
}
.cards{
    height:7rem;
    width:5rem;
    margin:1rem; 
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    text-align:center;
}

.inner-card{
    display:flex;
    flex-direction: row;
    justify-content: center;

}

.skill-img{
    width:7rem;
    height:7rem;
    border-radius:1rem;
    perspective: 100px;

}

@media (min-width: 600px) {

    .cards{    
        min-height:8rem;
        min-width:13rem;  

    }
    .skills{
        /* margin-left:5rem; */  margin:0 1rem 1rem 1rem;
     }
  }
