.App {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width:100%;
}

@import './styles/Header.css';
@import './styles/Home.css';
@import './styles/Skillset.css';
@import './styles/Introduction.css';
@import './styles/Footer.css';
@import './styles/Projects.css';


html{
  scroll-behavior: smooth;

 
}
